body
{
background-image:url("https://w0.peakpx.com/wallpaper/650/94/HD-wallpaper-calm-water-aesthetic-ultra-aero-creative-sunset-lake-tree-water-birds.jpg");
background-size:cover;
}
.div0{
display:inline-block;
}
.div1{
margin-bottom:130;
margin-left:50px;
}
h1{
display:inline-block;
margin-left:50;
margin-top:10;
margin-right:10;
color:orange;
}

.ac1{
display:inline-block;
margin-left:110;
color:white;
text-decoration:none;
}

input{
margin-left:80;
background-color:black;
color:white;
border-radius:4px;
}

.five{
margin-left:50;
display:inline-block;
width:47%;
}
.one{
color:white;
font-size:55px;
}
.two{
color:orange;
font-size:70px;
margin-top:-60;

}
.three{
margin-top:-85;
font-size:55px;
color:white;
margin-bottom:-20;
}
.four{
color:white;
word-spacing:8px;
}
.join{
background-color:orange;
border-radius:8px;
height:30px;
width:130px;
font-weight:bold;
}
.six{
display:inline-block;
width:17%;
height:48%;
float:right;
background-color:black;
margin-right:50;
border-radius:7px;
overflow:hidden;
position:relative;
}
.seven{
color:orange;
font-weight:bold;
width:200;
height:30;
border-radius:9px;
margin:20 30 0 30;
border:none;
}
.eight,.nine{
margin:20 30 0 30;
width:200;
border-style:solid;
border-top:none;
border-left:none;
border-right:none;
font-weight:bold;
}
.login{
margin:20 30 0 30;
background-color:orange;
border-radius:9px;
width:200;
height:30;
border-style:none;
}
.ten{
color:white;
text-align:center;
}
.eleven{
display:inline-block
margin-top:-10;
color:orange;
text-decoration:none;
}
.twelve{
display:inline-block;
color:white;
margin:0;
}
.fb,.insta,.twitter,.google,.skype{
width:30;
height:30;
}
img{
margin-left:15;
}